header {
    display: flex;
    min-height: 20%;
    justify-content: space-between;
    background-color: #9FD966;
    margin: 0;
    align-items: center;
    padding: 10px;
}

.logojuego{
    display: flex;
    min-height: 70px;
    max-height: 75px;
    align-items: center;
    padding-left: 25px;
}

.nombre{
    padding-left: 20px;
    font-family: "Arya", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}
.logoDG{
    height: 70px;
    margin-right: 10px;
}

nav a{
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}

nav a:hover{
    color: white;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    .navbarra{
        padding-left: 15px;
        padding-top: 15px;
    }
    h2{
        padding-left: 5px;
        padding-right: 15px;
    }
    .logojuego{
        padding-left: 0px;
    }
}