.Noticias{
    display: flex;
    justify-content: space-evenly;
    margin-left: 8%;
    margin-right: 4%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}
.flor{
    min-width: 10%;
    max-width: 25%;
    display: inline-block;
    margin-left: 3%;
    margin-top: 1%;
    margin-right: 7%;
}
p{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    color: white;
}
h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
    color: white;
    margin-bottom: 8%;
}