.noticia1{
    display: block;
    align-items: center;
    justify-content: center;
}
.noticia2{
    display: block;
    align-items: center;
    justify-content: center;
}
p{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    color: white;
    text-align: center;
}
h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: x-large;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.fondonosotros{
    background-color: black;
}
